header{
    display: block;
    width: 100%; 
    font-size: 20px;
    padding: 25px;
    text-align: center; 
    color:#FFFFFF ;
    background-color:#6B8285;

}
.resume:visited{
    color: #FFFFFF;
    text-decoration: none;
    
}
.resume:link{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    
}
.inline-block{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
body{
    background-color: #FFE9E9;
 font-family: 'Akshar', sans-serif;
 font-size: 20px;

}
.CONNECT{
    text-align: center;
    background-color: #FFE9E9;
}
section{
    background-color:#D7A17C ;
}
#picture3{
     display: flex;
    justify-content: flex-end;
    width: 100%;
}
.tynote{
    font-family: 'Akshar', sans-serif;
 font-size: 15px;

}
button{
    background-color:#863C48 ;
    border: none;
    font-family: font-family:'Akshar', sans-serif;
    color: white;
    padding: 15px 25px;
}
footer{
    width: 100%; 
    padding: 25px;
    background-color: #6B8285;
    color: white;
 
}
#socialmedia{
   text-align: right;
}

.logo{
    text-align: left;
}
#copyright{
    display: block;
    padding: 10px;
    width: 200px;
    text-align: right;
    
}