header{
    display: block;
    width: 100%; 
    font-size: 20px;
    padding: 25px;
    text-align: center; 
    color:#FFFFFF ;
    background-color:#6B8285;

}
.resume:visited{
    color: #FFFFFF;
    text-decoration: none;
    
}
.resume:link{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    
}
.inline-block{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
body{
    background-color: #FFE9E9;
 font-family: 'Akshar', sans-serif;
 font-size: 20px;

}
.ME{
    display: block;
    text-align: center;
    color: black;
   font-family: font-family:'Akshar', sans-serif;
    
}
.biocontent{
    background-color: #D0AFB6;
}
#picture1{
    display: flex;
    justify-content: flex-end;
    width: 100%;

}
#bio1{
   margin-left: 100px; 
   margin-right: 350px ;
 
}
button{
    background-color:#863C48 ;
    border: none;
    font-family: font-family:'Akshar', sans-serif;
    color: white;
    padding: 15px 25px;
}
.theProject{
    background-color: #863C48;
}
.RECENT{
    text-align: center;
    color: black;
   
}
.block1{
    float:left
    margin-left:100px;
}
#recentProject{
    margin-left: 400px;
    color: #FFE9E9;

}
.casestudy{
    background-color:#D7A17C;
    color: black;
}
footer{
    text-align: center;
    width: 100%; 
    padding: 25px;
    background-color: #6B8285;
    color: white;
 
}
#socialmedia{
   text-align: right;
}

.logo{
    display: flex;
    align-content: center;
}
#copyright{
    text-align: right;
    
}